
# files
/**/*main*
/**/*test*
*.bat
*.ps1
*.sh
*.jpg
*.jpeg
*.png
*.bmp
*.zip
*.rar
*.7z
*.tar
*.gz

# folders
/.vscode/
/**/*build*/
/**/*output*/
/**/*data*/
/testing/

# white list
!/demo/data
!/demo/data/*
